<!DOCTYPE html>
<html>
    <head>
        <title>MINOR PROJECT</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <style>  
            header{
            text-align: center;
            color: rgba(255, 217, 0, 0.178);
            font-size: 55px;
            top:0px;
            left: 0px;
            width: 100%;
            position: fixed;
            border: 5px solid black;
            text-shadow: 4px 4px black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: black;
            background-image: linear-gradient(120deg,red,yellow,green,pink,violet)
        }
        
        .image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8{
            border-top: 100px;
            height: 260px;
            width: 200px;
            float: left;
            border-radius: 50px;
            
            border: 2px solid black;
        }
        .para1,.para2,.para3,.para4,.para5,.para6,.para7,.para8{
            background-color: yellowgreen;
            border-radius: 20px;
            font-size: 22px;
            margin-left: 10px;
            height: 260px;
            width: auto;
            text-align: center;
            justify-content:center;
            border: 2px solid green;
            /* padding: auto; */
            padding-top:20px;
            
        }
        .f1{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        #e1,.e2,.e3,.e4,.e5,.e6,.e7,.e8{
            background-color: lightgrey;
            border-radius: 10px;
            height: 400px;
            align-items: center;
            border: 3px solid black;
            padding:10px;
            margin-top: 100px;
        }
        .h3{
            text-align: center;
            color: red;
        }
        .a{grid-area:a1;}
        .b{grid-area:b1;}
        .c{grid-area:c1;}
        .d{grid-area:d1;}
        .e{grid-area:e1;}
        .f{grid-area:f1;}
        .g{grid-area:g1;}
        .h{grid-area:h1;}
        .i{grid-area:i1;}
        
        .maindiv{
            color: white;
            padding-top: 80px;
            display: grid;
            text-align: center;
            grid-template-areas: 'a1 a1 a1 a1 a1 a1'
                                'b1 b1  b1 c1 c1 c1'
                                'd1 d1 d1 e1 e1 e1'
                                'f1 f1 f1 g1 g1 g1'
                                'h1 h1 h1 i1 i1 i1';
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            background-image: linear-gradient(orange,white,green)
        }
        .maindiv>div{
           
            padding: 20px;
            margin: 20px;
            background-image: url("https://cdn.glitch.global/429a5987-9bc4-49e5-836a-4ecb54e812a4/b.jpg?v=1685774009441");
        }
        .aa{
            text-decoration: none;
            color: white;
        }
        .song{
            
            margin-top: 5px;
            margin-left: 590px;
            margin-right: 610px;
        }
        #p1{
            text-align: right;
        }
          footer{
            text-align: center;
            color: rgba(255, 217, 0, 0.178);
            font-size: 55px;
            bottom:0px;
            left: 0px;
            width: 100%;
            position: fixed;
            border: 5px solid black;
            text-shadow: 4px 4px black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: black;
            background-image: linear-gradient(120deg,red,yellow,green,pink,violet)
        }
        .icon1{
           margin-left: 20px;
        }
        
        </style>
        </head>
        <body>
            <form action="" method="post"></form>
            <header>HISTORICAL PLACES IN INDIA
            </header>
            <br>
            <br>
            <br>
            <br>
            <div class="maindiv">
                <div class="a">HISTORICAL PLACES IN INDIA</div>
                
                <div class="b"><a class="aa" href="#q">QUTIBMINAR</a></div>
                <div class="c"><a class="aa" href="#t">TAJ MAHAL</a></div>
                <div class="d"><a class="aa" href="#g">GOLDEN TEMPLE</a></div>
                <div class="e"><a class="aa" href="#h">HAWA MAHAL</a></div>
                <div class="f"><a class="aa" href="#m">MEENAKSHI TEMPLE</a></div>
                <div class="g"><a class="aa" href="#f">FATEHPUR SIKRI</a></div>
                <div class="h"><a class="aa" href="#e">ELEPHANATA CAVES</a></div>
                <div class="i"><a class="aa" href="#a">AGRAFORT</a></div>
                </div>
                <br>
                <br>
                <br>
            <h1 id="q"></h1>
            <div id="e1">
                <h2 class="h3">QUTIBMINAR</h2>
                <div class="f1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHvJuv95a7QcSvt-jnoULsIH4vryDHam0Kog&usqp=CAU" class="image1">
                <p class="para1">The Qutb Minar, also spelled Qutub Minar and Qutab Minar is "victory tower" that forms part of the Qutb complex, Delhi’s oldest fortified city founded by Tomar Rajputs.It is a UNESCO World Heritage Site in the Mehrauli area of South Delhi, India.It is one of the visited tourist spots in the city, mostly built between 1199 and 1220.The surfaces of both are elaborately decorated with inscriptions and geometric patterns.           
                  <br><a href="https://whc.unesco.org/en/list/233/">click me</a>  
                  <a href="https://youtu.be/nxQ9my2ur-I"><i class="fa-sharp fa-solid fa-tower-observation fa-flip fa-xl icon1" href=""></i></a></div> 
                  
        </p>
                         
                </div>
                
            </div>
            <br>
            <br>
            <h1 id="t"></h1>
            <div class="e2">
                <h2 class="h3">TAJ MAHAL</h2>
                <div class="f1">
                <img src="https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2017/10/28/Pictures/taj-mahal-pubjan06-htnews-28pubjan2006-march-2009_2cac99b4-bbe8-11e7-970b-e502f534a12e.jpg" class="image2">
                <p class="para2">The Taj Mahal is an Islamic religious building, mosque and tomb in India, built in the 17th century by Emperor Shah Jahan in memory of his wife, Mumtaz Mahal.
                
                Construction of the mausoleum was essentially completed in 1643 .The construction project employed some 20,000 artisans under the guidance of a board of architects led by Ustad Ahmad Lahori, the emperor’s court architect. 
                    <br><a href="https://en.wikipedia.org/wiki/Taj_Mahal">click me</a>
                    <a href="https://youtu.be/49HTIoCccDY">
                    <i class="fa-brands fa-fort-awesome-alt fa-spin fa-2xl icon1" style="color: #e5152a;"></i></a>
                    
            </p>
                
                </div>
                
            </div>
            <br>
            <br>
            <h1 id="g"></h1>
            <div class="e3">
                <h2 class="h3">GOLDEN TEMPLE</h2>
                <div class="f1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVpSEoZrF1fpYZje1BzehhFFwLTt-0fsbXBA&usqp=CAU" class="image3">
                <p class="para3">The Golden Temple is spiritually the most significant shrine in Sikhism. It became a centre of the Singh Sabha Movement between 1883 and 1920s, and the Punjabi Suba movement between 1947 and 1966. In the early 1980s, the Gurdwara became a centre of conflict between the Indian government and a movement led by Jarnail Singh Bhindranwale. The Gurdwara complex was rebuilt again after the 1984 damage.[5]
                    <br><a href="https://en.wikipedia.org/wiki/Golden_Temple">click me</a>
                    <a href="https://youtu.be/isR6_bzRMlM"><i class="fa-solid fa-gopuram fa-flip fa-2xl icon1" style="color: goldenrod;"></i></a>
                    
                </p>
                
            </div>
                
            </div>
            <br>
            <br>
            <h1 id="h"></h1>
            <div class="e4">
                <h2 class="h3">HAWA MAHAL</h2>
                <div class="f1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWZTyqwudJlQOzWCbVSbVJ8GSacgxL38OgHONJ3ejcsSMsIb68sven_PMXGgX2Cs6nLSk&usqp=CAU" class="image4">
                <p class="para4">The structure was built in 1799 by the Maharaja Sawai Pratap Singh,Maharaja Sawai Jai Singh, the founder of Jhunjhunu in the state of Rajasthan.It was designed by Lal Chand Ustad. Its five-floor exterior is akin to a honeycomb with its 953 small windows called Jharokhas decorated cate latticework.The original intent of the lattice design was to festivals celebrated below without being seen.
                <br><a href="https://en.wikipedia.org/wiki/Hawa_Mahal">click me</a>
                <a href="https://youtu.be/lR6F_Edxabw">
                <i class="fa-sharp fa-solid fa-synagogue fa-spin fa-2xl icon1" style="color: #6218ec;"></i></a>
                </p>
                    
                    
                </div>
                
            </div>
            <br>
            <br>
            <h1 id="m"></h1>
            <div class="e5">
                <h2 class="h3">MEENAKSHI TEMPLE</h2>
                <div class="f1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ96ggb0slCXmBf1sp6iynPE-L0naoAJYj0mw&usqp=CAU" class="image5">
                <p class="para6">Madurai Meenakshi Sundareswarar temple was built by Pandayan Emperor Sadayavarman Kulasekaran I (1190 CE–1205 CE). He built the main Portions of the three-storeyed Gopuram at the entrance of Sundareswarar Shrine and the central portion of the Goddess Meenakshi Shrine are some of the earliest surviving parts of the temple. The traditional each for Natarajar and Surya near the main temple.
                    
                  <br><a href="https://en.wikipedia.org/wiki/Meenakshi_Temple">click me</a>
                  <a href="https://youtu.be/bhudWDoChfM"><i class="fa fa-thin fa-gopuram fa-flip fa-2xl icon1" style="color: goldenrod;"></i></a>
                </p>
                
            </div>
                
            </div>
            <br>
            <br>
            <h1 id="f"></h1>
            <div class="e6">
                <h2 class="h3">FATEHPUR SIKRI</h2>
                <div class="f1">
                <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/06/74/ca/ab.jpg" class="image6">
                <p class="para6">Fatehpur Sikri a town in the Agra District of Uttar Pradesh, India. Situated 35.7 kilometres from the district headquarters of Agra,[3] Fatehpur Sikri itself was founded as the capital of the Mughal Empire in 1571 by Emperor Akbar, serving this role from 1571 to 1585, when Akbar abandoned it due to a campaign in Punjab and was later completely abandoned in 1610.
                   
                    <br>
                    <a href="https://en.wikipedia.org/wiki/Fatehpur_Sikri">click me</a>
                    <a href="https://youtu.be/Y4NSz_RM5kk"><i class="fa-brands fa-fort-awesome-alt fa-spin fa-2xl icon1" style="color: palevioletred;"></i></a>
                </p>
                    
                </div>
                
            </div>
            <br>
            <br>
            <h1 id="e"></h1>
            <div class="e7">
                <h2 class="h3">ELEPHANATA CAVES</h2>
                <div class="f1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLoI6xawwu7g3EmfZU5Xwj8PAzf7St_PCRoA&usqp=CAU" class="image7">
                <p class="para7">The Elephanta Caves contain rock-cut stone sculptures, mostly in high relief, that show syncretism of Hindu and Buddhist ideas and iconography.The caves are hewn from solid basalt rock.The main temple's orientation as well as the relative location of other temples are placed in a mandala pattern.The carvings narrate Hindu mythologies, with the large monolithic 5.45 metres Trimurti Sadashiva, Nataraja .

                    
                    <br>
                    <a href="https://en.wikipedia.org/wiki/Elephanta_Caves">click me</a>
                    <a href="https://youtu.be/heCJuz0ARlU"><i class="fa-solid fa-building fa-beat fa-2xl icon1" style="color: salmon;"></i></a>
                </p>
                    
                </div>
                
            </div>
            <br>
            <br>
            <h1 id="a"></h1>
            <div class="e8">
                <h2 class="h3">AGRA FORT</h2>
                <div class="f1">
                <img src="https://img.staticmb.com/mbcontent/images/uploads/2022/9/agra-fort.jpg" class="image8">
                <p class="para8">The Agra Fort is a historical fort in the city of Agra, and also known as Agra's Red Fort. Built by the Mughal emperor Akbar in 1565 and completed in 1573, it served as the main residence of the rulers of the Mughal Dynasty until 1638, when the capital was shifted from Agra to Delhi. It was also known as the "Lal-Qila" or "Qila-i-Akbari".Before capture by the British, the last Indian rulers to have occupied it were the Marathas.It was later renovated by Shah Jahan.
                    <br>
                    <a href="https://en.wikipedia.org/wiki/Agra_Fort">click me</a>
                    <a href="https://youtu.be/rk1_T7bWw7U">
                        <i class="fa-brands fa-fort-awesome-alt fa-spin fa-2xl icon1" style="color: black;"></i></a>
                </p>
                </div>
                
            </div>
            <br>
            <br>
            <div class="song">
            <audio src="https://cdn.glitch.global/429a5987-9bc4-49e5-836a-4ecb54e812a4/song.mp3?v=1685773877940" controls>song</audio>
            <br>
            <br>
            <nav class="navbar bg-body-tertiary">
                <form class="container-fluid justify-content-start">
                  <a href="https://youtu.be/1RWUT5nIl-U"><button class="btn btn-outline-success me-2" type="button">Guidance</button></a>
                  <a href="https://en.wikipedia.org/wiki/Transport_in_India"><button class="btn btn-sm btn-outline-secondary" type="button">Transport Facilities</button></a>
                </form>
            </nav>    
        </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>DESIGNED AND DEVELOPED BY SHAHEENA.SHAIK</footer>
        </body>
  
</html>